# Build directories
build/
scan_ica/build/
scan_ica/DerivedData/

# Binaries
scan_go/scan-go

# OS/IDE metadata
.DS_Store
.vscode/
.idea/
*.xcuserstate
*.xcbkptlist

# Scan outputs & temporary files
*.jpg
*.jpeg
*.png
*.tiff
*.pdf
/tmp/m125a-scan.jpg
scan_lab_2/scan_out/


# Exceptions for documentation assets
!**/image_capture_screenshot.png
!**/xcode_team_sign_in.png
!**/virtual_scanner_in_image_capture.png
!scan\ lab/wireshark.png
!prebuilt/**/test.tiff
